<!DOCTYPE html>
{% load static %}
<head>
	<meta charset = "UTF-8">
	<title>Tentang - Website Saya</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel = "stylesheet"
   		type = "text/css"
   		href = "{% static 'css\cssStory3.css' %}" />
</head>
 
<body data-spy="scroll" data-target="#collapsibleNavbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <span class="navbar-brand" href="#">i am <b>uqi</b></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ppwstory4:home' %}">home</a></li>
          <li class="nav-item">
            <a class="active nav-link" href="#">ABOUT</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ppwstory4:gallery' %}">gallery</a></li>      
      </ul>
    </div>
  </nav>

    <p class="fullname">SYA<b>UQI</b> MUHAMMAD DHIYA ULHAQ</p>
    <p class="npm">1806235694</p>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-lg-5">
          <img class = "fotoprofil" src="{% static 'images/Profil.jpg' %}" alt="Foto Profil" width="385">
        </div>
        <div class="col-sm-6 col-lg-5">
          <p class="kelas">informatics system student</p>
          <p class="institution">faculty of computer science universitas indonesia</p>
          <p class="kelas"> class of 2018</p>
          <p class="institution">3 senior high school of jakarta</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-5"></div>
          <div class="col-sm-6 col-lg-5">
            <p class="exp">fun with:</p>
            <p class="nameofprog">python</p>
            <p class="nameofprog">java</p>
            <p class="nameofprog">HTML</p>
            <p class="nameofprog">CSS</p>
          </div>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </body>
</html>