<!DOCTYPE html>
{% load static %}
<head>
	<meta charset = "UTF-8">
	<title>Galeri - Website Saya</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel = "stylesheet"
   		type = "text/css"
   		href = "{% static 'css\cssStory3.css' %}" />
</head>
 
<body data-spy="scroll" data-target="#collapsibleNavbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <span class="navbar-brand" href="#">i am <b>uqi</b></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ppwstory4:home' %}">home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ppwstory4:about' %}">about</a></li>
          <li class="nav-item">
            <a class="active nav-link" href="#">GALLERY</a></li>      
      </ul>
    </div>
  </nav>

  <p class="judul"><u>sebuah cerita yang ditampung dalam fotografi seorang awam</u></p>

  <div class="container">
    <div class="row gambar-container">
      <div class="col-sm-6 col-lg-5 gambar">
        <div class="panel d-flex align-content-center justify-content-center "><img src="{% static 'images/PelicanHI.jpg' %}" alt="Pelican Crossing HI" class="fotoingrid"></div>
      </div>
      <div class="col-sm-6 col-lg-5 gambar">
        <div class="panel d-flex align-content-center justify-content-center "><img src="{% static 'images/Rektorat.jpg' %}" alt="Rektorat" class="fotoingrid"></div>
      </div>
      <div class="col-sm-6 col-lg-5 gambar">
         <div class="panel d-flex align-content-center justify-content-center "><img src="{% static 'images/BusListrik.jpg' %}" alt="Pameran Bus Listrik" class="fotoingrid"></div>     
      </div>
      <div class="col-sm-6 col-lg-5 gambar">
         <div class="panel d-flex align-content-center justify-content-center flex-wrap"><img src="{% static 'images/PintuKeraton.jpg' %}" alt="Sebuah Pintu di Keraton" class="fotoingrid"></div>     
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </body>
</html>