<!DOCTYPE html>
{% load static %}
<head>
	<meta charset = "UTF-8">
	<title>Website Saya</title>
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
	<link rel = "stylesheet"
   		type = "text/css"
   		href = "{% static 'cssStory3.css' %}" />
</head>
 
<body data-spy="scroll" data-target="#collapsibleNavbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  		<span class="navbar-brand" href="#">i am <b>uqi</b></span>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>
	  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    	<ul class="navbar-nav ml-auto">
		    	<li class="nav-item">
		    		<a class="active nav-link" href="#">HOME</a></li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="{% url 'ppwstory4:about' %}">about</a></li>
		  		<li class="nav-item">
		  			<a class="nav-link" href="{% url 'ppwstory4:gallery' %}">gallery</a></li>  		
			</ul>
	 	</div>
	</nav>

	<div class="frontPage" style="background-image: url({%static 'images/fotoDepanContoh1.png' %})">

		<div class="nama">i am <strong>Sya<u>uqi</u> Muhammad Dhiya Ulhaq</strong></div>
	</div>

		<p class="bio">a informatics system student that into photography,<br>
		videography, cats, city buses, and HIMYM tv series.<br>
		still learn about programming and try to be<br>
		the best son to his parent</p>
		<p class="contact">contact me:</p>
		<div class="redirect-contact">
			<a href="https://twitter.com/uqiiiiiii">twitter</a>
			<a href="https://www.instagram.com/uqi621/">instagram</a>
			<a href="https://gitlab.com/uqi621">gitlab</a>
			<a href="mailto:symdu31@gmail.com">email</a>
		</div>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
	</body>
</html>