/* cssStory3.css */
body {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 20px;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #383838;
  	position: -webkit-sticky;
  	color: #8e8e8e;
  	position: sticky;
  	top: 0;
}

li {
  	float: right;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	vertical-align: center;
  	padding: 5px 8px;
  	text-decoration: none;
}

li a:hover {
  	background-color: #111;
}

p {
	text-align: center;
}

img{
	width: 100%;
}

.frontPage{	
	height: 575px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.bio {
	margin-top: 400px;
}

.contact{
	margin-top: 210px;
}

.active {
  	font: 120% Encode Sans Semi Condensed;
  	font-weight: 700;
  	color: #8e8e8e;
}

.navbar-brand {
	vertical-align: middle;
	margin-left: 20px;
}

.nama{
	font-size: 35px;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}

.redirect-contact{
	text-align: center;
	margin-top: -10px;
}

/*about.html*/

.fotoprofil  {
	display: flex;
	width: 50%;
	align-content: center;
	justify-content: center;
}

.fullname{
	font-size: 25px;
	text-decoration: underline;
	text-align: left;
	margin-top: 80px;
	margin-left: 50px;
}

.npm {
	text-align: left;
	margin-top: -25px;
	margin-left: 50px;
}

.kelas {
	text-align: left;
}

.institution {
	text-align: left;
	font-size: 18px;
	margin-top: -20px;
}

.exp {
	text-align: left;
}

.nameofprog {
	text-align: left;
	font-size: 18px;
	margin-top: -20px;
}

.col-6 {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	grid-gap: 3px;
}

/*gallery.html*/

.gambar-container{
	display: flex;
	justify-content: center;
	align-content: center;
}

.judul {
	margin-top: 60px
}

.fotoingrid {
	width: 75%;
}

.panel {
	display: flex;
  	border-radius: 0.3rem;
  	padding: 1rem;
  	margin-bottom: 1rem;
}

.gambar-container {
	display: flex;
	justify-content: center;
}

.gambar {
	display: flex;
	justify-content: center;
	align-items: center;
}